:root {
  /* Fonts */
  --quicksandFont: 'Quicksand', sans-serif;
  --small: 1.4rem;
  --medium: 1.6rem;
  --large: 1.8rem;
  /* Colors */
  --white: #FFFFFF;
  --black: #000000;
  --dark: #232830;
  --veryLightPink: #C7C7C7;
  --textInputField: #F7F7F7;
  --hospitalGreen: #ACD9B2;
  }

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

html {
font-size: 62.5%;
}

body {
font-family: var(--quicksandFont);
font-size: 1.6rem;
}

a {
color: var(--black);
font-weight: bold;
text-decoration: none;
}

ul {
list-style: none;
}

button {
transition-property: all;
transition-duration: 0.3s;
transition-timing-function: ease;
}

button:hover {
cursor: pointer;
}

/* Menu */
.iconMenu {
  cursor: pointer;
  display: none;
}

#cartLogo {
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  height: auto;
  border-radius: 1px solid var(--veryLightPink);
  align-items: center;
  border-bottom: 1px solid var(--veryLightPink);
}

.logo {
  width: 15rem;
  margin: 1.2rem 3rem;
}

.navbarLeft {
  display: flex;
}

.navList {
  display: flex;
  align-items: center;
  height: 6rem;
}

.navList li a {
  display: flex;
  color: var(--veryLightPink);
  border: 1px solid var(--white);
  padding: 8px;
  border-radius: 8px;
}

.navList li a:hover {
  border: 1px solid var(--hospitalGreen);
  color: var(--hospitalGreen);
}

.navbarShoppingCart {
  position: relative;
}

.navbarShoppingCart span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -6px;
  right: -3px;
  width: 16px;
  height: 16px;
  background-color: var(--hospitalGreen);
  border-radius: 50%;
  font-size: var(--small);
  font-weight: bold;
}

.navbarEmail {
  cursor: pointer;
  color: var(--veryLightPink);
  font-size: var(--small);
  margin-right: 12px;
}

.navbarEmail:hover {
  text-decoration: underline;
  color: var(--dark);
}

/* desktop menu */

.desktopMenu {
  position: absolute;
  top: 6rem;
  right: 5.6rem;
  background-color: var(--white);
  width: 15rem;
  height: auto;
  border: 1px solid var(--veryLightPink);
  border-radius: 6px;
  padding: 2rem 2rem 0 2rem;
}

.title {
  font-weight: bold;
}

.desktopMenu ul li:last-child {
  padding-top: 1rem;
  border-top: 1px solid var(--veryLightPink)
}

.desktopMenu ul li:last-child a {
  color: var(--hospitalGreen);
  font-size: var(--small);
}

.desktopMenu ul li a {
  display: inline-block;
  color: var(--black);
  font-size: var(--small);
  margin-bottom: 2rem;
}

.inactive {
  display: none;
}

/* mobile menu */

.mobileMenu {
  background-color: var(--white);
  border: 1px solid var(--veryLightPink);
  border-radius: 0 2rem 2rem 0;
  position: absolute;
  top: 6rem;
  left: 0;
  width: 100%;
  padding: 24px;
}

.mobileMenu h2 {
  margin-bottom: 2rem;
}

.mobileMenu a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
}

.mobileMenu ul {
  padding: 0;
  margin: 2.4rem 0 0;
  list-style: none;
}

.mobileMenu ul li {
  margin-bottom: 24px;
}

.mobileMenu ul:nth-child(1) {
  border-bottom: 1px solid var(--veryLightPink);
}
/* 
.mobileMenu ul:last-child {
  position: absolute;
  bottom: 0;
} */

.mobileEmail {
  font-weight: 300;
  font-size: var(--medium);
}

#signOut {
  font-size: var(--small);
  color: var(--hospitalGreen);
}

/* Cart */

aside {
  background-color: var(--white);
  border: 1px solid var(--veryLightPink);
  border-radius: 2rem 0 0 2rem;
  width: 360px;
  position: absolute;
  right: 0;
  top: 6rem;
}

#shoppingCartContainer {
  padding: 24px;
}

.arrow {
  display: flex;
  margin-bottom: 2rem;
}

.arrow img {
  margin-right: 14px;
  transform: rotate(180deg);
  }

.title {
  font-size: var(--large);
  font-weight: bold;
}

.orderContent {
  display: flex;
  flex-direction: column;
}

.shoppingCart {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 16px;
  margin-bottom: 24px;
  align-items: center;
}

.shoppingCart figure img {
  width: 7rem;
  height: 7rem;
  border-radius: 2rem;
  object-fit: cover;
}

.shoppingCart p:nth-child(2) {
  color: var(--veryLightPink);
}

.shoppingCart p:nth-child(3) {
  font-size: var(--medium);
  font-weight: bold;
}

.order {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  background-color: var(--textInputField);
  margin-bottom: 2.4rem;
  border-radius: 8px;
  padding: 0 24px;
  height: 5rem;
}

.order p:nth-child(1) {
  display: flex;
  flex-direction: column;
}

.order p:nth-child(2) {
  text-align: end;
  font-weight: bold;
}

.order p span:nth-child(1) {
  font-size: var(--medium);
  font-weight: bold;
}

.primaryButton {
  background-color: var(--hospitalGreen);
  font-size: var(--medium);
  font-weight: bold;
  color: var(--white);
  width: 100%;
  height: 4rem;
  border-radius: 8px;
  border: none;
}

/* Product Detail */

#productDetail {
  height: 100%;
  border: 1px solid var(--veryLightPink);
  border-radius: 0;
}

.closeProduct {
  position: absolute;
  top: 12px;
  left: 12px;
  background-color: var(--white);
  padding: 0.7rem;
  border-radius: 50%;
}

.closeProduct:hover {
  cursor: pointer;
}

#productDetail figure > img:nth-child(2) {
  width: 100%;
  height: 36rem;
  object-fit: cover;
}

#productDetail .productInfo {
  margin: 24px 24px 0 24px;
}

#productDetail .productInfo p:nth-child(1) {
  font-weight: bold;
  font-size: var(--medium);
  margin-top: 0;
  margin-bottom: 4px;
}

#productDetail .productInfo p:nth-child(2) {
  color: var(--veryLightPink);
  font-size: var(--medium);
  margin-top: 0;
  margin-bottom: 36px;
}

#productDetail .productInfo p:nth-child(3) {
  color: var(--veryLightPink);
  font-size: var(--small);
  margin-top: 0;
  margin-bottom: 36px;
}

.addToCart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

/* main */

.cards {
  --cardSize: 24rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--cardSize));
  gap: 3rem;
  place-content: center;
  margin-top: 2rem;
}

.productCard {
  width: var(--cardSize);
}

.productCard img {
  width: var(--cardSize);
  height: var(--cardSize);
  border-radius: 2rem;
  object-fit: cover;
}

.productCard .productInfo figure img {
  width: 35px;
  height: 35px;
}

.productCard .productInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.productCard .productInfo div p:first-child {
  font-weight: bold;
  font-size: var(--medium);  
  margin: 0;
}

.productCard .productInfo div p:last-child {
  font-size: var(--small);
  margin: 0;
  color: var(--veryLightPink);
}

@media (max-width: 1000px) {

  .iconMenu {
    display: block;
  }

  .navbarLeft ul {
    display: none;
  }

  .navbarEmail {
    display: none;
  }

  .desktopMenu {
    display: none;
  }

  #productDetail {
    width: 100%;
    border-radius: 0;
  }

  .cards {
    --cardSize: 14rem;
  }
}

@media (min-width: 1001px) {
  .mobileMenu {
    display: none;
  }
}

@media (max-width: 420px) {
  #shoppingCartContainer {
    padding-left: 6rem;
  }
}